.navbar {
    position: fixed;
    top: 0;
    width: 98%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center; /* Add this line */
    z-index: 1000; /* Ensure the navbar is above other elements */
  }
  
  .navbar-logo {
    max-width: 200px;
    max-height: 200px;
  }
  
  .navbar-links a {
    margin-left: 20px;
    text-decoration: none;
    color: white; /* Adjust as needed */
  }

  .navbar.hidden {
    display: none;
}
